<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	
	<title>{$detail['book_name']}最新章节 _道门弟子{$detail['book_name']}txt下载-免费小说网</title>
	<meta name="keywords" content="{$detail['book_name']}最新章节, {$detail['book_name']}txt下载,{$detail['book_name']}{$detail['book_author']},{$detail['book_author']}作品 ,{$detail['book_author']}的小说"/>
	<meta name="description" content="《{$detail['book_name']}》是{$detail['book_author']}的小说，免费小说阅读网提供{$detail['book_name']}最新章节、{$detail['book_name']}txt下载，看{$detail['book_author']}作品，{$detail['book_name']}免费阅读就到免费读书网"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}mobile_1.css">
	<script type="text/javascript" src="{$Think.const.JS_URL}zepto.min.js"></script>
        <div class="olnk"><script type="text/javascript" src="{$Think.const.JS_URL}zm.js"></script></div>
    <script type="text/javascript" src="{$Think.const.JS_URL}app.js"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}jquery.min.js"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}jquery.rotate.js"></script>
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}app.css">
	
</head>

<body _pgid="36" bookId="{$detail['book_id']}">
<div style="display:none;"><img src="{$detail['book_img']}" width="300" height="300" alt="{$detail['book_name']}" /></div>



<div class="subhead">
	<a onclick="location.href='{:U('Index/index')}'">返回</a>
	<a>本书详情</a>
    <a href="__MODULE__/User/person.html" style="background: none;width: 60px;" class="bs">个人中心</a>
</div>

<div class="booksite">
    <div class="bookimg">
	    
		         <img src="{$detail['book_img']}" alt="{$detail['book_name']}">
		    
	</div>
    <div class="bookinfo">
         <h1 class="bookname">{$detail['book_name']}</h1>
         <div class="info">
			<div>作者：<span>{$detail['book_author']}</span></div>
			<div>分类：<span>{$detail['book_type']}</span></div>
			<div>字数：<span>{$detail['book_len']}</span></div>
			<div>已有  <span>{$detail['rcount']|default='20000'}人次</span> 读过此书</div>
		 </div>				
    </div>
    
		    <a href="#" id="collect" class="cbut add_bs" bookId="{$detail['id']}"></a>
        
    <div class="bookbutton">
        
			    <a  style="background-color: orchid" href="__CONTROLLER__/reading.html?bookId={$detail['id']}" >立即阅读</a>
            
<style>
#downtipdiv{ position: fixed;display: none}
.install-info{position:absolute;left:0;top:0;background: #fff;z-index: 103;-webkit-transform: scale(1, 1);width:100%;font-size:14px;height:100%;}
.install-wp{padding:10px 20px;}
.install-info .close{background: url(images/cl.png) no-repeat;background-size: 20px;width: 20px;height: 20px;position: absolute;right:20px;top:20px;}
.install-tips{padding:1rem 0 1.875rem;}
.install-tips em{background: #7a7a7a;width: 15px;height: 15px;color: #fff;font-size:0.55rem;text-align:center;border-radius: 1rem;display: inline-block;line-height: 15px;vertical-align:0.1rem;margin-right: 12px}
.install-tips .tip{position:relative;font-size:15px;color: #333;padding: 0.9rem 0 0 0}
.install-tips .tip span{display: block}
.install-tips .tip .txt{color: #aaa;font-size:14px;margin-top:20px;padding-left:25px}
.install-tips .tip-one{border-bottom: 1px solid #eee;padding-bottom: 1.25rem}
.install-tips .book{background: url(images/bookbg.jpg) no-repeat center #fff;background-size:240px;margin-top: 1rem;text-align: center;padding-top: 15px;position: relative;}
.install-tips .book a{background:none;}
.install-tips .book img{height:120px;}
.install-info .receive-btn{background: #e95e56;height:40px;display:block;text-decoration:none;line-height:40px;text-align: center;color:#fff;border-radius:5px;font-size:18px;}
.install-info .receive-btn:hover{background:#fb8881}
.install-info .tip-three{font-size:12px;margin-top: 14px}
.install-info .tip-three em{background: url(images/lb.png) no-repeat center;background-size:12px;width: 12px;height: 13px;display: inline-block;margin-right:5px}
.install-info .read-label{background:url(images/b_icon.png);background-size:cover;width:155px;height:32px;line-height:32px;color: #fff;font-size:14px;display: inline-block; position: relative;top:-10px;}
</style>

<div class="install-info" id="downtipdiv">
<div class="install-wp">
    <div class="install-tips">
        <div class="tip tip-one">
            <span><em>1</em>您还未安装客户端，先安装一个吧</span>
            <span class="txt">大神小说全网首发；更多精品小说免费读</span>
        </div>
        <div class="tip tip-two">
            <span><em>2</em>安装成功后，点击领取特权免费阅读此书</span>
            <div class="book">
                <a class="restartApp" >
                    <img src="picture/1458034390641.jpg" alt="" /><br/>
                    <div class="read-label">立即阅读</div>
                </a>
            </div>
        </div>
    </div>
    <a class="receive-btn restartApp" >领取特权</a>
    <div class="tip-three"><em></em>新用户下载客户端，获赠免费阅读特权</div>
</div>
<div class="close"></div>
</div>



<script type="text/javascript">
    $("#apkddd").on("click",function(){
    	zhDownGift(this)
    });
</script>


    </div>
    
	    <div id="lastupdate" bookId="{$detail['id']}" chapterId="{$newChapter['id']}"   _link="/h5/chapter?bookid=533602&cid=33448193&fpage=36&fmodule=69&_st=33_308-2_533602" >
	        <em class="vip">最新</em>
	        <span class="last_tit">{$newChapter['title']}</span>
	        <div class="time">{$newChapter['addtime']}</div>
	    </div>
    
</div>


			<!--<div class="olnk"><script type="text/javascript" src="{$Think.const.JS_URL}168804228325.js"></script></div>-->
		<!---->
			<!--<div class="olnk"><script type="text/javascript" src="{$Think.const.JS_URL}168804228298.js"></script></div>-->
		
<h3 class="cat_tit2"><em></em>作品简介</h3>
<div class="book_intro">
	{$detail['book_desc']}<span style="display:none"></span>
	<span id="more_intro"></span>
</div>


	<div class="book_tags">
	    <div class="tags_tit">标签：</div>
	    <div class="tags_wap">
	        
				<a href="/h5/search?keywords=都市生活&field=all&h5=1">{$detail['book_type']}</a>
			
	    </div>
	</div>


<!--&lt;!&ndash;支持本书start&ndash;&gt;-->
<!--<h3 class="sub_tit"><em></em>支持本书</h3>-->
<!--<div class="donate">-->
      <!--&lt;!&ndash; 双倍活动不在活动期间 &ndash;&gt;-->
     		<!--<div class="donate_button" id="donate_wap">-->
		    	<!--<span dovalue="500"><div class="donate_tw"><div class="donate_ti">月</div></div><h5>投1张月票</h5>500纵横币<em>1</em></span>-->
		    	<!--<span dovalue="5000"><div class="donate_tw"><div class="donate_ti">月</div></div><h5>投11张月票</h5>5000纵横币<em>11</em></span>-->
		    	<!--<span dovalue="100"><div class="donate_tw"><div class="donate_ti">抽</div></div><h5>抽月票</h5>100纵横币</span>-->
		    <!--</div>-->
     	<!---->
	    <!--<div class="suply_wap">-->
	    	<!--<div>本书排在潜力榜第<em style="color:#de1728;font-style:normal">274</em>位，赶快支持下！</div>-->
	        <!--<a id="dovote">投张月票</a>-->
	    <!--</div>-->
    <!---->
    <!--<div class="suply_wap">-->
        <!--<div>投张推荐票来表达你对本书的态度吧!</div>-->
        <!--<a href="/h5/consume/prepare?tabindex=1&bookId=533602&fpage=36&fmodule=21&_st=36_21-0_533602">投推荐票</a>-->
    <!--</div>-->
    <!---->
	    <!--<div class="suply_wap">-->
	    	<!--<div>更多种方式为作者捧场!</div>-->
	        <!--<a href="/h5/consume/prepare?tabindex=0&bookId=533602&fpage=36&fmodule=22&_st=36_22-0_533602">更多捧场</a>-->
	    <!--</div>-->
    <!---->
<!--</div>-->
<!--支持本书 end-->

<!--作品目录start-->
<h3 class="sub_tit"><em></em>作品目录<span class="org">(共{$chapterCount}章)</span><div id="read_fx" class="read_atz" onclick="changeStatus()"></div></h3>
<div class="book_list" id="coverl_atz">
	  <foreach name="chapterTitleAsc" item="v">
	    <a href="__CONTROLLER__/chapter.html?bookId={$detail['id']}" title="字数:{$v.len}">
            {$v.title}
	    </a>
      </foreach>

	
</div>
<div class="book_list" id="coverl_zta" style="display:none">
    <foreach name="chapterTitleDesc" item="v">
		<a href="__CONTROLLER__/chapter.html?bookId={$detail['id']}" title="字数:{$v.len}">
            {$v.title}
		</a>
    </foreach>
</div>
<div class="sbut"><a href="__CONTROLLER__/chapter.html?bookId={$detail['id']}" class="view_more">进入作品目录 查看更多</a></div>
<!--作品目录end-->

<!-- 广告位：H5页面文字链2 -->

			<div class="olnk"><script type="text/javascript" src="{$Think.const.JS_URL}168804228299.js"></script></div>
		
<!-- h5ios游戏推荐 -->

<!--读过此书的人还喜欢start,每本书的url参数应该是fpage=36&fmodule=25&_st=36_25-x_bookid  -->
<h3 class="cat_tit"><em></em>读过{$detail['book_name']}人还喜欢<span class="chanp mbfav_renew" id="refresh"><em id="rotate" style="background-color: #16bc5ca"></em>换一换</span></h3>
<div class="mbfav_wap">

	    <div class="bookbox" bookid="" _link="">
	        <div class="bookimg">

			    <img src="" alt="妙手生香">

	        </div>
	        <div class="bookinfo">
	            <h4 class="bookname">妙手生香</h4>
	            <div class="author">作者：<span>大元宝</span></div>
	            <div class="cat">分类：<span>都市异能</span></div>
	            <div class="mbfav_info"></div>
	        </div>
	    </div>

	    <div class="bookbox" bookid="" _link="">
	        <div class="bookimg">

			            <img src="" alt="重生之特警红颜">

	        </div>
	        <div class="bookinfo">
	            <h4 class="bookname">重生之特警红颜</h4>
	            <div class="author">作者：<span>月映寰</span></div>
	            <div class="cat">分类：<span>都市重生</span></div>
	            <div class="mbfav_info"><div class="topcor"></div>47% 的读者还看过这本书</div>
	        </div>
	    </div>

	    <div class="bookbox" bookid="" _link="">
	        <div class="bookimg">

			            <img src="" alt="特种兵王在都市">

	        </div>
	        <div class="bookinfo">
	            <h4 class="bookname">特种兵王在都市</h4>
	            <div class="author">作者：<span>神我很乖</span></div>
	            <div class="cat">分类：<span>都市生活</span></div>
	            <div class="mbfav_info"><div class="topcor"></div>53% 的读者还看过这本书</div>
	        </div>
	    </div>


</div>
<!--读过此书的人还喜欢end-->

<!--评论和贴吧start-->
<div class="cat_tit comment-tit" id="index_catstit"> 
    <span sign="threadlist_wap">{$detail['book_name']}评论</span>
    <a href="/h5/thread?bookid=533602" class="publish"><i></i> 发布评论</a>
</div>
<div id="listwap">
    <div class="thread_list" id="threadlist_wap"></div>
</div>
<div id="threadlist_more" class="sbut"></div>
<div class="cl10"></div>
<!--评论和贴吧end-->


<footer>
    <!-- 登录之前 -->
    <div class="fl" id="sp_unlogin">
        <a href="http://passport.zongheng.com/wap/user/login.do?fpage=33&fmodule=52" >登录</a> |
        <a href="http://passport.zongheng.com/bdpass/wapRegister.do" >注册</a>
    </div>
    <!-- 登录之后 -->
    <div id="sp_nickname" class="fl" style="display: none">
        <a href="/h5/home"><span></span></a> |
        <a href="/h5/user/logout?fpage=33&fmodule=53">退出</a>
    </div>
    <div class="fr">
        <a href="/h5/help?fpage=33&fmodule=54">我要吐槽</a>
    </div>
    <div class="cl0"></div>



    <form action="/h5/search" method="GET">
        <div class="searchbox">
            <div>
                <input placeholder="请输入关键字" value="" maxlength="15" name="keywords">
            </div>
            <div class="search_go"></div>
        </div>
        <input type="hidden" name="field" id="field" value="all"/>
    </form>


    <!--<div>-->
    <!--<a href="/adapter?tag=wap">极速版</a> | <a class="active">触屏版</a> | <a href="/adapter?tag=pc">电脑版</a> | <a href="http://news.zongheng.com/zhuanti/2015/appdl/index.html" >客户端</a>-->
    <!--</div>-->
    <span class="copyright">所有书籍均来自于互联网,如有侵犯,请联系<a href="http://wpa.qq.com/msgrd?v=3&uin=1034996580&site=qq&menu=yes">管理员</a>删除!</span>
</footer>

<script type="text/javascript">
(function(){
    var logoned = $("#sp_nickname");
    var unlogin = $("#sp_unlogin");
    
    
    var _isLogin = getCk("logon");
    if(_isLogin != null && _isLogin !="" && _isLogin!="undefined"){
	    var nickName = (getCk("logon")!= null) ? Base64.decode(getCk("logon").split("|")[3]):null;
	    unlogin.hide();
	    logoned.show().find("span").html(nickName);
    }else{
	    $.ajax({
	        url: 'http://zongheng.baidu.com/getbduss.do',
	        data: {ret:0,tag:1},
	        error: function(){},
	        dataType : 'jsonp',
	        beforeSend: function(){},
	        success: function(data){
	            if(data.errCode==0){
	            	if(window.location.pathname && window.location.pathname.indexOf('shelf')!=-1){
	            		 location.reload();
	            	}else{
	            		var nickName = (getCk("logon")!= null) ? Base64.decode(getCk("logon").split("|")[3]):null;
	                    unlogin.hide();
	                    logoned.show().find("span").html(nickName);
	            	}
	            }
	        },
	        complete: function(){},
	        timeout : 10000
	    })
    }
    
    if($("#footprint_id").length>0){
   	 $.ajax({
   	        url: 'http://m.zongheng.com/h5/ajaxGetFootPrint',
   	        error: function(){},
   	        dataType : 'html',
   	        success: function(data){
   	            if(data!=null){
   	            	$("#footprint_id").append(data);
   	            }
   	        }
   	  })
   } 
    
})()
</script>

<script type="text/javascript">
    $().ready(function(){
        $('#refresh').bind('click',function(){
            $('#rotate').rotate({
                duration: 3000,//设置从开始角度到目标角度需要的时间
                angle: 0,//初始角度
                animateTo: 360//目标角度
            });
            getRadomBook('{$detail['book_type']}');
        });
        getRadomBook('{$detail['book_type']}');
        function getRadomBook(bookType){
            $.ajax({
                type:'post',
                data:'bookType='+bookType,
                dataType:'json',
                url:'__CONTROLLER__/getRadomBook.html',
                success:function(msg){
                    var data=msg;
                    $(data).each(function(i,item){
                        $(".bookbox:eq("+i+")").attr('bookid',item.id);
                        $(".bookbox:eq("+i+")").attr('_link','__ACTION__/bookId/'+item.id);
                       $(".bookbox:eq("+i+")>.bookimg>img").attr('src',item.book_img);
                       $(".bookbox:eq("+i+")>.bookinfo> .bookname").html(item.book_name);
                       $(".bookbox:eq("+i+")>.bookinfo> .author").html(item.book_author);
                       $(".bookbox:eq("+i+")>.bookinfo> .cat").html('类型&nbsp:&nbsp'+item.book_type);
                       $(".bookbox:eq("+i+")>.bookinfo> .mbfav_info").html(item.book_len+'字');
                    })
                }
            });
        }
    });

    $('.bookbox').bind('click',function(){
           location.href=$(this).attr('_link');
    });
    $('#collect').bind('click',function(){
        var savebookId=$('#collect').attr('bookId');
        var savechapterId=0;
            $.ajax({
                type:'post',
                dataType:'json',
                url:'__MODULE__/User/checkIsLogin.html',
                success:function(msg){
                    if(msg.code==200){
                        $.ajax({
                            type:'post',
                            data:'bookId='+savebookId+'&chapterId='+savechapterId,
                            dataType:'json',
                            url:'__CONTROLLER__/saveReading.html',
                            success:function(msg){
                                if(msg.code==200){
                                    alert('收藏成功');
                                }else{
                                    alert(msg.msg);
                                }
                            }
                        })
                    }else{
                        alert('请先登录后在收藏');
                        location.href='{:U('User/pageLogin')}?l=detail&bookId={$detail['id']}';
                    }
                }
            })
    });
</script>



</body>
</html>
